body {
    background-color: rgb(158, 139, 212);
    text-align: center;
    font-family: Arial;
}

h1 {
    color: rgb(198, 201, 183);
}

p {
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(102, 4, 231);
    border: none;
}